/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  font-size: 16px;
  font-family: "Inter", sans-serif;

  color: #343434;
}

a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #278EA5;
}

#who_we_are {
  padding: 0 0 60px 0;
}

.bg__dark {
  background-color: #343434;
}

.bg__light {
  background-color: #FAFAFA;
}

.text__gold {
  color: #FDE9C9;
}

.text__light {
  color: #FAFAFA;
}

.text__dark {
  color: #343434;
}

.container {
  max-width: 1110px;
  padding: 0 30px;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
}

.header__info {
  display: grid;
  grid-template-columns: 2fr 10fr;
  height: 100px;
  align-items: center;

  font-size: 20px;
  line-height: 10px;
  color: #fff;
}

.logo {
  height: 70px;
  width: 118px;
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
}

.nav > ul {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
}

.nav > ul > li {
  list-style: none;
  margin-left: 50px;
}

.nav > ul > li > a {
  color: #efefef;
  font-weight: 500;
  text-decoration: none;
}

.nav > ul > li > a:hover {
  color: #cccccc;
}

.menu-btn {
  background-color: transparent;
  border: none;
}

.burger-icon {
  background-image: url(../img/menu.svg);
  height: 34px;
  width: 60px;
}

.block__shadow {
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.5);
}

.home__bg {
  background-image: url(../img/home.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: unset;
  background-attachment: fixed;
  background-color: #343434;
}

.block {
  min-height: 700px;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.home {
  min-height: 700px;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.lipovka__block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: start;
}

.lipovka__small__block {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
}

.lipovka {
  text-align: center;
  height: 100%;
}

.lipovka__small__block > .lipovka > img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 0 auto 10px auto;
}

.lipovka__small__block > .lipovka > h3 {
  font-size: 18px;
}

.lipovka__small__block > .lipovka > p {
  padding: 0 10px 0 10px;
  margin: 0 auto;
  max-width: 220px;
}

.lipovka__block > .lipovka > img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 0 auto 15px auto;
}

.lipovka__block > .lipovka > h3 {
  font-size: 24px;
}

.lipovka__block > .lipovka > p {
  padding: 0 10px 0 10px;
  margin: 0 auto;
  max-width: 350px;
}

.vk {
  width: 50px;
  height: 50px;
  background-image: url(../img/vk.svg);
  background-size: cover;
}

.ig {
  width: 50px;
  height: 50px;
  background-image: url(../img/inst.svg);
  background-size: cover;
}

.tg {
  width: 50px;
  height: 50px;
  background-image: url(../img/telegram.svg);
  background-size: cover;
}

.i-small {
  width: 35px;
  height: 35px;
}

.s-small {
  width: 120px !important;
}

.lipovka .social {
  margin: 10px auto 0 auto;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.block__title {
  font-family: Oswald, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 130px;
  align-self: start;
  text-align: center;
}

.block__title .subtitle {
  font-size: 38px;
  font-weight: normal;
  line-height: 45px;
}

.block__title .sub__subtitle {
  font-size: 26px;
  line-height: 30px;
  max-width: 80%;
  margin: 0 auto;
}

.works__block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  grid-template-rows: auto;
  margin: 50px 0;
}

.work > iframe {
  width: 100%;
  height: 300px;
  border: none;
}

.work > h3 {
  font-size: 27px;
  font-weight: bolder;
}

.work > p {
  width: 95%;
}

.contact_us {
  justify-self: end;
}

.contact_us > a > * {
  display: inline-block;
  vertical-align: middle;
}

.mail {
  width: 40px;
  height: 40px;
  background-image: url(../img/mail.svg);
  background-size: cover;
  margin-right: 10px;
}

.pt-50 {
  padding-top: 50px;
}

.block__info h1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  padding-bottom: 15px;
  max-width: 540px;
}

.block__info p {
  /*padding-bottom: 25px;*/
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  max-width: 540px;
}

.footer__bottom {
  min-height: 100px;
  padding: 10px;
  display: grid;
  grid-template-columns: 5fr 4fr auto;
  align-items: center;
}

.footer_logo > a {
  margin-right: 30px;
}

.footer_logo > a, p {
  display: inline-block;
  vertical-align: middle;
}

.block__img {
  width: 536px;
  height: 417px;
  background-image: url(../img/doodle.svg);
  background-repeat: no-repeat;
  justify-self: end;
}

@media only screen and (max-width: 916px) {
  .block__img {
    display: none;
  }

  .block {
    grid-template-columns: 1fr;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),
    url(../img/doodle.svg) no-repeat right 30px top 50%;
  }

  .footer_bottom {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .lipovka__block {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 60px;
  }

  .lipovka__small__block {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 60px;
  }

  .works__block {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 60px;
  }
}

@media only screen and (max-width: 887px) {
  .footer__bottom {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .footer_logo {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 20px;
  }

  .footer_logo > p{
    justify-self: end;
    text-align: right;
  }

  .contact_us {
    justify-self: center;
  }
}

@media only screen and (max-width: 510px) {
  .footer__bottom {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
  }

  .footer_logo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .footer_logo > a > div {
    margin: 0 auto;
  }

  .footer_logo > p{
    justify-self: center;
    text-align: center;
  }

  .contact_us {
    justify-self: center;
  }
}

@media only screen and (max-width: 782px) {
  .header__info {
    grid-template-columns: 1fr 1fr;
  }

  .nav > button {
    float: right;
  }

  .nav > ul {
    display: none;
  }
}

@media only screen and (min-width: 782px) {
  .menu-btn {
    display: none;
  }
}

@media (min-width: 979px) {
  ul.nav li.dropdown.show-on-hover:hover > ul.dropdown-menu { /* для раскрывания субменю по наведению */
    display: block;
  }
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

